*{margin: 0;}
html{font-size: 10px;}
body{font-size: 1rem;}
a{text-decoration: none;}

header{width: 100%;height: 8rem;background-color: white;}
header > nav{width: 102.4rem;margin: auto;display: flex;justify-content: space-between;align-items: center;height: 8rem;}

header > nav > .menu{height: 8rem;}
header > nav > .menu > ul{list-style: none; display: flex; justify-content: space-around; align-items: center; height: 8rem; float: left; margin: 0; padding: 0;}
header > nav > .menu > ul > li{margin: 0 1.7rem;}
header > nav > .menu > ul > li > a{color: #000000;font-family: 'Noto Sans KR', sans-serif;font-size: 1.6rem;font-weight: 500;letter-spacing: -0.03rem;  padding: 6px 12px; text-decoration: none; position: relative; padding: 6px 12px}
header > nav > .menu > ul > li > a::after{content: ""; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 0%; height: 3px; background: #000000; transition: all .3s ease-out;}
header > nav > .menu > ul > li > a:hover::after{width: 100%}
header > nav > .menu > ul > li > .fixd::before{content: ""; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 3px; background: #000000; transition: all .3s ease-out;}

section > .keyvisual{background-image: url('../img/02_keyvisual_bg.png');height: 70rem;margin-top: 2rem;}
section > .keyvisual > .keyvisual_wrap{margin: auto;width: 102.4rem;height: 70rem;}
section > .keyvisual > .keyvisual_wrap > .keyvisual_title{text-align: center;}

section > .keyvisual_sub{background-image: url('../img/02_keyvisual_bg.png');height: 65rem;}
section > .keyvisual_sub > .keyvisual_sub_wrap{margin: auto;width: 102.4rem;height: 65rem;}
section > .keyvisual_sub > .keyvisual_sub_wrap > .keyvisual_sub_title{text-align: center;}

section > .profile{background-image: url('../img/04_profile.png');}
section > .profile > .profile_wrap{margin: auto;width: 130rem;}
section > .profile > .profile_wrap > .profile_01{padding-top: 5rem;}
section > .profile > .profile_wrap > .profile_02{margin-top: 5rem;}
section > .profile > .profile_wrap > .profile_03{margin-top: 5rem;}
section > .profile > .profile_wrap > .profile_04{margin-top: 5rem;}

section > .portfolio{background-image: url('../img/04_profile.png');}
section > .portfolio > .portfolio_wrap{margin: auto;width: 102.4rem;}
section > .portfolio > .portfolio_wrap > .portfolio_01{padding-top: 2rem;}
section > .portfolio > .portfolio_wrap > .portfolio_02{margin-top: 5rem;}
section > .portfolio > .portfolio_wrap > .portfolio_03{margin-top: 2rem;}
section > .portfolio > .portfolio_wrap > .portfolio_04{margin-top: 5rem;}
section > .portfolio > .portfolio_wrap > .portfolio_05{margin-top: 2rem;}
section > .portfolio > .portfolio_wrap > .portfolio_06{margin-top: 5rem;}
section > .portfolio > .portfolio_wrap > .portfolio_07{margin-top: 5rem;}
section > .portfolio > .portfolio_wrap > .portfolio_08{margin-top: 2rem;}
section > .portfolio > .portfolio_wrap > .portfolio_09{margin-top: 5rem;}

section > .bottom{background-color: #ffffff;height: 95.4rem;}
section > .bottom > .bot_tit{margin: auto;text-align: center;width: 102.4rem;padding-top: 2.2rem;}
section > .bottom > .bot_wrap{margin: auto;width: 102.4rem;display: flex;justify-content: space-between;align-items: center;padding-top: 4.7rem;}

footer{background-color: #ECEAE7;height: 11rem;margin-top: 7rem;}
footer > .copyright {text-align:center; position: relative;top:40%; font-size:12px; color:#515151; font-family: "Nanum Gothic", sans-serif; font-weight: 600}
